<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceBusConnectionString" value="Endpoint=sb://wistron-demo-001.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=uc/oyVIGt+h/SgFEnkr8kKrqnosIYFS3D/vxxS6qJfc="/>
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=wistrondemo;AccountKey=ONshGdxwC7swiexjiu/OKyS5DpCHUTrgg7ZaS40PPj69XOSdE2wQpCVOgpWgyaT7z0JlRhx6Qbsx5Ey46299wg=="/>
    <add key="iotHubConnectionString" value="HostName=winstron-demo-01.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=fOPnesqAPxtcZfNvG0RyQNLH1CL8+NUcb1J4Y59lerE="/>
    <add key="serviceBusQueueName" value="wistrondemo"/>
  </appSettings>
</configuration>