<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubConnectionString" value="HostName=michi-byddemo2-RG.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=IoG06i8zf1TGlyJPOUP1psfngLocFFM4hI2NW/jpojI="/>
    <add key="iotHubUri" value="michi-byddemo2-RG.azure-devices.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>