<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubConnectionString" value="HostName=demo0001.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=3SMec5btBgJcGuePVGiHS3mUOV/Oo/L5BLjG2ltPj+Y="/>
    <add key="iotHubUri" value="demo0001.azure-devices.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>