<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubConnectionString" value="HostName=sks-s1.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=1eG1WhdWx2mTMlHbBFqooTuoYvym7PMwTl4p8XqNaWE="/>
    <add key="iotHubUri" value="sks-s1.azure-devices.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>