<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubConnectionString" value="HostName=szdemo.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=wLHQLtX+B8vw4RRH2J/hSikCPrkY4AbDOeNYr0Tn3x0="/>
    <add key="iotHubUri" value="szdemo.azure-devices.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>